body {
  font-family: "Century Gothic", "Lato", sans-serif;
  overflow: scroll;
}

a {
  text-decoration: none;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #eee;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: rgba(137, 91, 57, 255);
  background: rgba(44, 44, 107, 1);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgba(44, 44, 107, 1);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
.left-aligned-list {
  
  text-align: left;
  align-self: flex-start; /* para que el <ul> se alinee a la izquierda del contenedor flex */
  padding-left: 2rem;     /* opcional, para espacio desde el borde */
}

#tab-es6 h3 {
  align-self: center;
  text-align: justify;
  width: 70%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

#tab-flexbox li h3 {
  align-self: center;
  text-align: justify;
  width: 70%;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

#tab-flexbox h3 {
  align-self: center;
  text-align: justify;
  width: 80%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
